#app {
  // nothing
}

html {
  font-size: 100%;
}

body {
  font-family: $base-ff;
  font-weight: $base-fw;
  line-height: $base-lh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $clr-4;

  position: relative;

  padding: 23px;

  &::after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;

    overflow-x: hidden; /* For Opera */

    box-shadow: inset $clr-1 0 0 0 10px;

    // box-shadow: inset #471877 0 0 0 5px, inset #521c87 0 0 0 1px,
    //   inset #6623a9 0 0 0 10px, inset #7a2acb 0 0 0 11px,
    //   inset #8838d6 0 0 0 16px, inset #c693da 0 0 0 17px,
    //   inset #eccbdc 0 0 0 22px, inset #fee4dd 0 0 0 23px;
  }
}

main {
  padding: $gap-lg;
}

h1,
h2,
h3,
h4,
h5 {
  // margin: 3rem 0 1.38rem;
  font-family: $base-ff;
  font-weight: $bold;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small,
.text_small {
  font-size: 0.75rem;
}

.clr-1 {
  color: $clr-1;
}

.clr-2 {
  color: $clr-2;
}
