/* heading font sizes */

$fs-h1: 4.209rem;
$fs-h2: 3.157rem;
$fs-h3: 2.369rem;
$fs-h4: 1.777rem;
$fs-h5: 1.333rem;

/* base font size - applied at body / html level */

$fs-base: 1rem;

/*Weights*/
$bold: 700;
$regular: 400;

/*Base*/

$base-ff: 'Darker Grotesque', sans-serif;
$base-fs: $fs-base;
$base-fw: $regular;
$base-lh: 1.75;
$base-gap: 4px;

/*Gap*/

$gap-2xl: 40px;
$gap-xl: 24px;
$gap-lg: 16px;
$gap-md: 8px;
$gap-sm: $base-gap;

/*Colors*/

$clr-b: #000000;
$clr-w: #ffffff;
$clr-1: #8838d6;
$clr-2: #c693da;
$clr-3: #eccbdc;
$clr-4: #fee4dd;

$clr-g: #ddfee9;
